<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated jsonMetaschemaMM -->
      <package
            uri="http://at.jku.bise/jsonMetaschemaMM"
            class="jsonMetaschemaMM.JsonMetaschemaMMPackage"
            genModel="model/jsonMetaschemaMM.genmodel"/>
   </extension>

</plugin>
