<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated relatedSchemas -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="relatedSchemas.presentation.RelatedSchemasModelWizardID"
            name="%_UI_RelatedSchemasModelWizard_label"
            class="relatedSchemas.presentation.RelatedSchemasModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/RelatedSchemasModelFile.gif">
         <description>%_UI_RelatedSchemasModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated relatedSchemas -->
      <editor
            id="relatedSchemas.presentation.RelatedSchemasEditorID"
            name="%_UI_RelatedSchemasEditor_label"
            icon="icons/full/obj16/RelatedSchemasModelFile.gif"
            extensions="relatedschemas"
            class="relatedSchemas.presentation.RelatedSchemasEditor"
            contributorClass="relatedSchemas.presentation.RelatedSchemasActionBarContributor">
      </editor>
   </extension>

</plugin>
